<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Products</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Scada:400,400i,700,700i&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/item-pages.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/client.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
  </head>

  <body>
    <% include partials/_header.ejs %>
    <div class="home">
        <a href="http://localhost:8080" class="home">< < <</a>
    </div>
    <main>
      <div class="item">
        <h1 class="name"><%= item.name %></h1>
        <div class="response">
        <div class="image">
        <img
          class="thumbn-image"
          src="<%= item.image %>"
          alt="<%= item.title %>"
        />
      </div>
        <div class="data">
        <p class="data">
                        <b>Link:</b> <a href="<%= item.link %>" target="_blank" rel="noopener noreferrer"> <%= item.link %></a> </br></br>
                        <b>Description:</b> <%= item.description %></br></br>
      </div>
    </div>
    </div>
    </main>
  </body>
</html>

