<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Products</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Scada:400,400i,700,700i&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/client.js"></script>

    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  </head>

  <body>
    <% include partials/_header.ejs %>
    <main>
        <h1 id="title"><%= item.name %></h1>
        <img class="thumbn-image" src="<%= item.image %>" alt="<%= item.name %>" />
        <h4 class="rating">Rating: <%= item.rating %>% Positive feedback</h4>
        <h4 class="cost">Cost: <%= item.cost %>$</h4>
        <p class="description">Description: <%= item.description %></p>
        <a class="url-buy" href="<%= item.buy_reference %>">Buy</a>
        </h1>
      </div>
    </main>
  </body>
</html>
